-
    var myHeader = '#awards';
    var awardList = [{
        title : 'Best 30s elevator speed speach',
        description : `I'v won 1st place `,
        location : 'Google campus - London',
        date : '2018'
    }, 
    {
        title : 'Best website for president election',
        description : `Best built website for the second runner in the presidential election campaign`,
        location : 'Romania',
        date : '2016'
    }];



#award
.award
    .award__header=myHeader
    each award in awardList
        .award__card
            .award__icon
                span.icon-trophy
            .award__title=award.title

            .award__icon
                span.icon-info-with-circle
            .award__description=award.description

            .award__icon
                span.icon-map
            .award__location=award.location

            .award__icon
                span.icon-calendar
            .award__date=award.date