-
    var header = '#experience';
    var experienceList = [
        {
            title: 'Front Web developer',
            date: 'September 2011 - present',
            company: 'freelance',
            responsabilitiesList: [
                'Design layouts',
                'Develop wireframes',
                'Create website functionality',
                'Deliver on time'
            ]
        },
        {
            title: 'Image Editor',
            date: 'August 2010 - September 2011',
            company: 'Digisport',
            responsabilitiesList: [
                'Assembling raw material',
                'Edit audio',
                'Edit video',
                'Edit subtitles'
            ]
        },
        {
            title: 'Technical Support Engineer',
            date: 'August 2007 - August 2010',
            company: 'RCS-RDS',
            responsabilitiesList: [
                'Network monitoring',
                'Diagnoze',
                'Call team on the field',
                'Prevent connection issues'
            ]
        },
    ];

#experience
.experience
    .experience__header=header

    input.experience__input(type="radio", name="my-experience", id="experience-default")

    each experience, key in experienceList
        input.experience__input(type="radio", id=`experience-id-${key}`, name="my-experience")
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.icon-plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilitiesList
                    .experience__responsability=responsability